body {
  margin-top: 100vh;
}

h1 {
  font-size: 50px;
}

.background-img-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: -1;
  transition: ease 200ms;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: ease 750ms;
  z-index: -1;
}

.deli-specials-box {
  position: absolute;
  left: 50%;
  top: 0;
  width: 60%;
  height: fit-content;
  translate: -50% 0;
  z-index: 1;
}

.deli-specials-img {
  width: 100%;
  border-radius: 15px;
}

.deli-menu {
  background-color: var(--third-accent-color);
  color: white;
  width: 100%;
  padding: 75px 0;

  text-align: center;
  z-index: 2;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 30px;
  
}

.menu-item {
  background-color: var(--main-accent-color);
  border-radius: 15px;
  padding: 15px;
  box-shadow: var(--main-shadow);
}