body {
  padding-top: 90vh;
}

.background-img-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: ease 200ms;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: ease 750ms;
  z-index: -1;
}

.deli-specials-box {
  position: absolute;
  left: 50%;
  top: 95vh;
  width: 60vw;
  max-width: 800px;
  height: fit-content;
  translate: -50% 0;
  z-index: 1;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .deli-specials-box {
    width: 90vw;
  }
}

.deli-specials-img {
  width: 100%;
  border-radius: 15px;
}


.menu-section {
  margin-bottom: 3rem;
}

.menu-section-header {
  margin: 0 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.menu-section-description {
  font-size: 1.15rem;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  margin: 1rem 0.5rem;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  height: 6px;
  width: 80%;

  border-radius: 30px;
  background: linear-gradient(to right, white, var(--accent-5), transparent);
}

.deli-menu {
  background-color: var(--base-2);
  color: white;
  width: 100%;
  padding: 75px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  text-align: center;
  z-index: 2;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

@media (orientation: portrait) {
  .menu-grid {
    grid-template-columns: 1fr;
  }
}


.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;

  padding: 15px;
  border-radius: 15px;

  background-color: var(--base-1);
  box-shadow: var(--inset-shadow);
}

.menu-item-header {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  border-bottom: 1px dotted white;

  font-size: 1.10rem;
}

.menu-item-title {
  margin-right: 2rem;
}

.menu-item-description {
  align-self: center;
  width: 85%;
  margin-top: 8px;
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
}