.store-info {
  width: 100%;
  padding: 50px 0;
  padding-bottom: 90px;

  text-align: center;

  color: var(--soft-white-1);
  background-color: var(--base-5);
  margin-bottom: 10px;
}

.store-info div {
  margin-bottom: 6px;
}

.store-info .info-header {
  font-family: "playfair display";
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.store-info .store-location,
.store-info .contact-info {
  margin-bottom: 1rem;
}

.store-info .store-hours {
  margin-bottom: 0.8rem;
}

.store-info .hours-header {
  margin-top: 0.75rem;
  margin-bottom: 0.8rem;
  text-decoration: underline;
}

.google-map {
  margin-top: 2.5rem;
}

.legal-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0.75rem;
  bottom: 0.75rem;

  font-size: 0.75rem;

  color: var(--soft-white-1);
}

.legal-info div {
  margin-bottom: 6px;
}

.privacy-policy-link {
  font-size: .75rem;
  color: white;
  background-color: black;

  padding: 8px 14px;
  transition-duration: 200ms;
  cursor: pointer;
}

.privacy-policy-link:hover {
  background-color: var(--soft-black-1);
}