.site-header {
  display: flex;
  align-items: center;

  position: fixed;
  z-index: 100;

  user-select: none;
}

.toggle-menu-button {
  position: absolute;
  top: 1vh;
  transition: ease 200ms;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .site-header {
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 60vw;

    padding-top: 3vh;

    background-color: var(--light-color-4);

    transition: ease 200ms;
  }

  .site-header.header-open {
    visibility: visible;
    right: 0;
    
    .toggle-menu-button {
      right: 2vw;
    }
    
  }

  .site-header.header-closed {
    right: -60vw;

    .toggle-menu-button {
      left: -5vw;
    }
  }

  
}

@media screen and (min-width: 768.1px) {
  .site-header {
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;

    background-color: white;
    border-bottom: 1px solid var(--third-accent-color);
  }

  .toggle-menu-button {
    visibility: hidden;
  }
}

.site-header div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-weight: 550;
  

  cursor: pointer;
  transition-duration: 250ms;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .site-header div {
    height: 50px;
    font-size: 1.25rem;

    color: white;
  }
}

@media screen and (min-width: 768.1px) {
  .site-header div {
    flex: 1;
    font-size: 1rem;

    color: var(--third-accent-color);
  }
}

.site-header div:hover {
  color: white;
  background-color: var(--light-color-4);
}

.site-header .current-page {
  color: white;
  background-color: var(--light-color-4);
}

.site-header .current-page:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
