.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 100;

  background-color: white;
  border-bottom: 1px solid rgb(174, 154, 101);
  user-select: none;
}

.site-header div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: rgb(174, 154, 101);
  font-weight: 550;
  font-size: 1rem;

  cursor: pointer;
  transition-duration: 250ms;
}

.site-header div:hover {
  color: white;
  background-color: rgb(174, 154, 101);
}

.site-header .current-page {
  color: white;
  background-color: rgb(174, 154, 101);
  margin: 0 5px;
}

.site-header .current-page:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}