.site-header {
  display: flex;

  position: fixed;
  z-index: 20;

  user-select: none;
}

.company-title {
  position: fixed;
  top: 0; right: 0; left: 0;
  height: var(--company-title-height);
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 700;

  color: white;
  background-color: var(--base-3);
  user-select: none;
}


.toggle-menu-button {
  position: fixed;
  top: 3vh;
  right: 3vh;
  z-index: 50;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 20px;
  background-color: var(--soft-white-2);

  transition: ease 200ms;
  user-select: none;
}

.toggle-menu-button:hover {
  background-color: var(--soft-white-3);
}

.toggle-menu-button:active {
  background-color: var(--soft-white-4);
}

.menu-icon {
  font-size: 2rem;
  padding: 0.25rem;
}




/* Sidebar layout for mobile screens */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .company-title {
    justify-content: flex-start;

    padding-left: 1rem;
    box-shadow: 0 2px 15px black;
  }
  
  .site-header {
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    align-items: flex-start;

    padding-top: 3rem;
    padding-left: 4vw;
    box-sizing: border-box;


    background-color: var(--base-17);
    box-shadow: -5px 0 10px rgba(63, 63, 63, 0.767);

    transition: ease 200ms;
  }


  .site-header.header-open {
    right: 0; 
  }

  .site-header.header-closed {
    right: calc(var(--sidebar-width) * -1);
  }

  
}

@media screen and (min-width: 768.1px) {
  .company-title {
    border-bottom: 2px solid white;
  }

  .site-header {
    flex-direction: row;
    left: 0;
    right: 0;
    top: var(--company-title-height);
    height: var(--header-height);

    background-color: white;
    box-shadow: 2px 0 10px black;
  }

  .toggle-menu-button {
    visibility: hidden;
  }
}

.site-header div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-weight: 550;
  
  cursor: pointer;
  transition-duration: 250ms;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .site-header div {
    height: 50px;
    font-size: 1.25rem;

    color: white;
  }
}

@media screen and (min-width: 768.1px) {
  .site-header div {
    flex: 1;
    font-size: 1rem;

    color: var(--base-17);
  }
}

.site-header div:hover {
  color: white;
  background-color: var(--base-17);
}

.site-header .current-page {
  color: white;
  background-color: var(--base-17);
}

.site-header .current-page:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
