body {
  padding-top: 75vh;
}

.banner-img-box {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: ease 750ms;
  z-index: -1;
}

.ad-img-box {
  position: absolute;
  left: 0;
  height: 70%;
  transition: ease 750ms;
}

.ad-img {
  height: 100%;
  opacity: 0;
  transition: ease 750ms;
}

.tagline {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .tagline {
    visibility: hidden;
  }
}

.navigation-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  z-index: 1;
}

/* Declaring angles used to animate weekly deals button */
@property --angle1{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --angle2{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.weekly-ad-link {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  font-weight: 600;

  color: white;
  
  border: none;
  border-radius: 2rem;

  padding: 1rem 2.5rem;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 10;
  white-space: nowrap;
}

.weekly-ad-link:hover {
  border-radius: 3rem;
  padding: 1.25rem 5rem;
  background-image: conic-gradient(from var(--angle1), transparent, var(--accent-1));
  animation: 2s spin1 linear infinite;
}

.weekly-ad-link::after,
.weekly-ad-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 95%;
  height: 90%;
  border-radius: inherit;
}

.weekly-ad-link::after {
  background-color: var(--accent-1);
}

.weekly-ad-link:hover::before {
  z-index: -2;
  width: 99%;
  height: 99%;
  opacity: .95;
  background-image: conic-gradient(from var(--angle2), transparent, var(--accent-4));
  animation: 2s spin2 linear infinite;
  filter: blur(0.5rem);
}

@keyframes spin1 {
  from {
    --angle1: 0deg;
  }
  to {
    --angle1: 360deg;
  }
}

@keyframes spin2 {
  from {
    --angle2: 180deg;
  }
  to {
    --angle2: 540deg;
  }
}

.navigation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;

  width: 90%;
  
  padding: 75px 20px;
}

@media (orientation: portrait) {
  .navigation-grid {
    grid-template-columns: 1fr;
  }
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  height: 20vh;
  letter-spacing: 0.1rem;

  color: white;
  background-color: var(--base-2);
  box-shadow: 2px 2px 8px rgba(66, 59, 38, 0.9);
  border-radius: 5px;

  cursor: pointer;
  transition-duration: 200ms;
}

.nav-link.left {
  justify-content: flex-start;
}


.nav-link:hover {
  background-color: var(--accent-1);
  box-shadow: 6px 4px 8px rgba(66, 59, 38, 0.95);
  border-radius: 20px;
}

.nav-link.left:hover {
  .nav-img-box {
    width: 45%;
  }

  .nav-img-box img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.nav-link.right:hover {
  .nav-img-box {
    width: 45%;
  }

  .nav-img-box img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.nav-img-box {
  height: 100%;
  width: 40%;
  transition-duration: 200ms;
}

.right .nav-img-box {
  align-self: flex-end;
}

.nav-img-box img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
  transition-duration: 200ms;
}

.left .nav-img-box img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right .nav-img-box img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-link-title {
  width: 50%;
  font-weight: 700;
  font-size: 1.15rem;
}

.left .nav-link-title {
  text-align: center;
  margin-left: 5%;
}

.right .nav-link-title {
  text-align: center;
  margin-right: 5%;
}