.welcome-banner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 600px;
}

.banner-img {
  height: 200%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: ease 750ms;
  z-index: -1;
}

.ad-img-box {
  position: absolute;
  left: 0;
  height: 70%;
  transition: ease 750ms;
}

.ad-img {
  height: 100%;
  opacity: 0;
  transition: ease 750ms;
}

.tagline {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 5px;
}

.navigation-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 103, 67);

  z-index: 1;
}

@property --angle1{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --angle2{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.weekly-ad-link {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  font-size: 17px;
  font-weight: 600;

  color: white;
  
  border: none;
  border-radius: 25px;

  padding: 18px 50px;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 10;
}

.weekly-ad-link:hover {
  border-radius: 30px;
  padding: 22px 90px;
  background-image: conic-gradient(from var(--angle1), transparent, rgb(247, 193, 76));
  animation: 2s spin1 linear infinite;
}

.weekly-ad-link::after,
.weekly-ad-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 95%;
  height: 90%;
  border-radius: inherit;
}

.weekly-ad-link::after {
  background-color: rgb(199, 153, 28);
}

.weekly-ad-link:hover::before {
  z-index: -2;
  width: 99%;
  height: 99%;
  opacity: .95;
  background-image: conic-gradient(from var(--angle2), transparent, rgb(247, 193, 76));;
  animation: 2s spin2 linear infinite;
  filter: blur(0.5rem);
}

@keyframes spin1 {
  from {
    --angle1: 0deg;
  }
  to {
    --angle1: 360deg;
  }
}

@keyframes spin2 {
  from {
    --angle2: 180deg;
  }
  to {
    --angle2: 540deg;
  }
}

.navigation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;

  width: 90%;
  
  padding: 75px 20px;

}

.nav-link {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  height: 160px;

  font-size: 18px;
  letter-spacing: 1px;

  color: white;
  background-color: rgb(174, 154, 101);
  box-shadow: 2px 2px 8px rgba(66, 59, 38, 0.9);
  border-radius: 5px;

  cursor: pointer;
  transition-duration: 200ms;
}

.nav-link:hover {
  background-color: rgb(236, 174, 38);
  box-shadow: 6px 4px 8px rgba(66, 59, 38, 0.95);
  border-radius: 20px;

  .nav-img-box {
    width: 45%;
  }

  .nav-img-box img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.nav-img-box {
  height: 100%;
  width: 40%;
  transition-duration: 200ms;
}

.nav-img-box img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  object-fit: cover;
  object-position: center;
  transition-duration: 200ms;
}

.nav-link-title {
  width: 50%;
  text-align: center;
  margin-left: 5%;
}


.store-info {
  width: 100%;
  padding: 50px 0;
  padding-bottom: 90px;

  text-align: center;

  color: rgb(189, 173, 125);
  background-color: rgb(58, 51, 34);
  margin-bottom: 10px;
}

.store-info div {
  margin-bottom: 6px;
}

.store-info .info-header {
  font-family: "playfair display";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.store-info .store-location,
.store-info .contact-info {
  margin-bottom: 18px;
}

.store-info .store-hours {
  margin-bottom: 10px;
}

.store-info .hours-header {
  margin-top: 12px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.google-map {
  margin-top: 40px;
}

.legal-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 10px;
  bottom: 15px;

  font-size: 15px;

  color: rgb(189, 173, 125);
}

.legal-info div {
  margin-bottom: 6px;
}

.privacy-policy-link {
  font-size: 13px;
  color: white;
  background-color: black;

  padding: 8px 14px;
  transition-duration: 200ms;
  cursor: pointer;
}

.privacy-policy-link:hover {
  background-color: rgb(116, 103, 67);
}